<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/Views/Common/AjaxPageListing.js" rel="stylesheet" />
@{
    ViewBag.Title = "Common Tables";
}


<div class="container">
    <div>
        <h2 class="display-4">Latest changes since you gone...</h2>
    </div>
    <div class="row">
        @Html.Action("GetTableTests")
        @Html.Action("GetTableQuestions")
    </div>
</div>