<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container" id="tables">
        <div>
            <h2 class="display-4">Latest changes since you gone...</h2>
        </div>
        <div class="row">
            @Html.Action("GetTableTests")
            @Html.Action("GetTableQuestions")
            @Html.Action("GetTableResults")
        </div>
    </div>
</body>
</html>