@model IEnumerable<TestSystem.Logic.DataTransferObjects.QuestionDto>

<div class="row">
    <div class="card mb-3">
        <div class="card-header badge-primary">
            <i class="fa fa-table"></i> Last questions
        </div>
        <div class="card-body ">
            <div class="table-responsive">
                <div class="panel panel-primary">
                    <div class="panel-heading">Last added 5 questions...</div>
                    <table class="table table-bordered  table-hover  " height="100">
                        <thead class="bg-primary text-white">
                            <tr class="thead-dark">
                                <td>Question</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <a class="nav-link text-dark"
                                           href="@Url.Action("GetInfoQuestion", "Question",new {IdQuestion  = item.IdQuestion ,
                                             QuestionText = item.QuestionText})#More">
                                            @Html.DisplayFor(modelItem => item.QuestionText)
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="container">
                    <form action="@Url.Action("GetInfoQuestion", "Question")">
                        <button class="btn btn-primary" type="submit">More about questions...</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


