@model TestSystem.Logic.Infrastructure.OperationDetails

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Register</title>
    <link href=@Url.Content("/Content/vendor/bootstrap/css/bootstrap.min.css") rel="stylesheet">
    <link href=@Url.Content("/Content/vendor/font-awesome/css/font-awesome.min.css") rel="stylesheet" type="text/css">
    <link href=@Url.Content("/Content/css/sb-admin.css") rel="stylesheet">
</head>
<body class="bg-dark">
    <div class="container">
        <div class="card card-login mx-auto mt-5 " >
            <div class="card-header"> <span style="font-size: 150%; 
     font-family: serif"> @Model.Property </span> </div>
            <div id="counter"></div>
            <div class="card-body">
                @using (Html.BeginForm("TestPassingPost", "User", FormMethod.Post))
                {
                    <div class="form-group border border-dark border-left-0 border-right-0 border-top-0">
                        <div class="col-md-auto">
                            <p>
                                @Model.Message
                            </p>
                            <p >
                                Your total score :<span style="font-size:x-large "> @Model.Value % </span>
                            </p>
                        </div>
                    </div>
                   
                    <div>
                        <input autofocus class="btn btn-primary btn-block" type="submit" value="End Test"
                               onclick="location.href='@Url.Action("MainMenu" , "User" , new { })'"/>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="border-light">
        <script src=@Url.Content("/Content/vendor/jquery/jquery.min.js")></script>
        <script src=@Url.Content("/Content/vendor/bootstrap/js/bootstrap.bundle.min.js")></script>
        <script src=@Url.Content("/Content/vendor/jquery-easing/jquery.easing.min.js")></script>
        <script src=@Url.Content("/Content/js/sb-admin.min.js")></script>


    </div>
</body>
</html>

